*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 200px;
}

#menu{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container2{
    display: flex;
    align-items: center;
    justify-content:center
}

#div1{
    width: 200px;
    font-size: 1.5rem;
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(9, 9, 75, 0.911);
}

a{
  text-decoration: none;
  color: white;
  font-weight:500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.5px;
}

/*  <!-- Onboarding operacional--> */
.main{
    background-color: aqua;
    padding: 35px;
}

.container3{
   margin: auto;
   width: 500px;
   border: 1px solid #333 ;
   border-top-left-radius: 35px;
   position: relative;
   right: 20%;
   padding: 25px;
  
}

#h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(9, 9, 75, 0.911);
    font-size: 40px;
    padding: 20px;
}

#p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px; 
}